<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
    <strong>Average Rating:</strong>
    <%= @beer.average_rating || 'Not Rated' %>
</p>

<p>
    <strong>Reviews:</strong>
    <%= render @beer.reviews %>
    <strong>Add a Review:</strong>
    <%= render 'reviews/form' %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
