<div class='beer-title-row hidden-xs'>
    <div class="col-sm-12">
        <h1 class='beer-title'><%= @beer.name %></h1>
        <h1 class='beer-title'><small> by <%= link_to @beer.brewery.name, @beer.brewery %></small></h1>
        <span class='beer-avg-rating'><%= @beer.average_rating || 'Not Rated' %></span>
    </div>
</div>
<div class='beer-title-row visible-xs'>
    <div class="col-xs-12">
        <h1 class='beer-title'><%= @beer.name %></h1>
    </div>
    <div class="col-xs-12">
        <h1 class='beer-title'><small> by <%= @beer.brewery %></small></h1>
    </div>
    <div class="col-xs-12">
        <span class='beer-avg-rating'><%= @beer.average_rating || 'Not Rated' %></span>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <%= link_to beers_path, class: 'btn btn-default' do %>
            <span class='glyphicon glyphicon-arrow-left'></span>
        <% end %>
        <% if current_user %>
            <%= link_to edit_beer_path(@beer), class: 'btn btn-default' do %>
                <span class='glyphicon glyphicon-pencil'></span>
            <% end %>
        <% end %>
    </div>
</div>
<div class="row">
    <div class='col-sm-12'>
        <% if @beer.reviews.length > 0 %>
            <h3>Reviews</h3>
            <%= render @beer.reviews %>
        <% end %>

        <% if current_user %>
            <%= render 'reviews/form' %>
        <% end %>
    </div>
</div>
